<div class="thumbnail" style="border: none;">
  <center>
    <a href='{{ path_for('product.get',{slug: product['slug']}) }}'>
      <img src="{{ product['image'] }}" alt="..." class="thumbnail img-responsive">
    </a>
  </center>
  <div class="caption">
    <center>
      <div class="caption">
        <h4> <a href='{{ path_for('product.get',{slug: product['slug']}) }}'>{{ product['title'] }}</a></h4>
      </div>
      <p>{{ product['description']}}</p>
    </center>
  </div>
</div>